{% extends 'base.html' %}

{% block title %}
<title>SEITopic Shopping Cart</title>
{% endblock %}

{% block content%}
<h1>Shopping Cart Landing Page</h1>
<hr>
<div class="container justify-content-md-center" id="details-container">
    <div class="row clearfix">
        <div class="col">
            <div class="card center" style= "width:500px";>
                <div class="card-body cart-card">
                    <div class="center-column">
                    <h5 class="card-title"></h5>
                    </div>
                    {% if order_details.count %}
                    {% for tshirt in order_details %}
                    
                    <div class="flex-row">
                        <div class="cart-items">
                            <p class="card-text cart-spacing">{{ tshirt.tshirt.name }}</p>
                            <p class="card-text cart-spacing">Quantity: {{ tshirt.quantity }}</p>
                            <p class="card-text cart-spacing">${{ tshirt.tshirt.price }} each</p>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    <h5 class="total-container">Total: ${{ order.total_cost }}</h5>
                    <hr>

                    
                    <form action="{% url 'complete_order' %}" method="POST">
                        {% csrf_token %}
                        <p class="total-container"><button class="btn btn-primary" type="submit">Complete order</button></p>    
                    </form>
                    {% else %}
                    <h2>There is nothing in your cart.</h2>
                    {% endif %}
                    <p class="total-container"><a href="{% url 'tshirts_index' %}" class="btn btn-primary">Return to T Shirts</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}