{% extends 'base.html' %}

{% block title %}
<title>SEITopic - Make your Selections!</title>
{% endblock %}

{% block content%}

<h1>Tshirts</h1>
<hr>
<div class="container">
    <div class="row clearfix">
        {% for tshirt in tshirts %}
        <div class="col">
        <div class="card">
            <div class="card-body center-column">
                <h6 class="card-title">{{ tshirt.name }}</h6>
                <div class="shirt-container">
                    <img src="{{ tshirt.image_url }}" alt="" style="height:140px;">
                </div>
                <p class="card-text shirt-price">${{ tshirt.price }}</p>
                <a href="{% url 'tshirts_detail' tshirt.id %}" class="btn btn-primary btn-style-1">DETAILS</a>
            </div>
        </div>
    </div>
        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}