{% extends 'base.html' %}

{% block title %}
<title>SEITopic - Make your Selections!</title>
{% endblock %}

{% block content%}

<h1>Tshirts</h1>
<hr>
<div class="container">
    <div class="row clearfix">
        {% for tshirt in tshirts %}
        <div class="col">
        <div class="card" style="height: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ tshirt.name }}</h5>
                <p class="card-text">${{ tshirt.price }}</p>
                <a href="{% url 'tshirts_detail' tshirt.id %}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}