@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: "Monsterrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f8f9fa;
  }

main {
  flex: 1 0 auto;
  font-family: "Monsterrat", sans-serif;
  margin: 112px;
}

/* Navbar styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  border-bottom: 1px solid #edf0f1;;
  width: 100%;
  height: 7%;
  background-color: rgb(51, 51, 51);
  margin-bottom: 20px;
  position: fixed;
  top: 0;
  z-index: 2;
}

a {
  font-family: "Monsterrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.logo {
  cursor: pointer;
}

#nav-logo, #logo-link {
  color: #edf0f1;
  font-size: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links > li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links > li > a {
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-size: 13px;
  color: #edf0f1;
}

.nav-links > li > a:hover {
  color: #edf0f1;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 12px 5px 12px;
}

.login-button {
  padding: 6px 20px;
  background-color: #edf0f1;
  color: black;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  margin: 0px 6px 0px 6px;
}

.login-button:hover {
  color: #edf0f1;
  border: 1px solid #edf0f1;
  background-color: rgb(51, 51, 51);
}

#orders-icon {
  color: #edf0f1;
}

#cart-circle{
  color: rgb(162, 255, 23);
}

/* Button styling */

.btn-style-1 {
  padding: 9px 25px;
  background-color: rgb(22, 22, 22);
  color: #edf0f1;
  border: 1px solid rgb(22, 22, 22);
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  margin: 0px 6px 0px 6px;
}

.btn-style-1:hover {
  background-color: white;
  color: rgb(22, 22, 22);
  border: 1px solid rgb(22, 22, 22);
  padding: 9px 28px 9px 28px;
}

.btn-style-2 {
  display: flex;
  padding: 9px 25px;
  background-color: rgb(207, 16, 16);
  color: #edf0f1;
  border: 1px solid rgb(207, 16, 16);
  border-radius: 8px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  margin: 0px 6px 0px 6px;
  padding: 6px 10px 6px 10px;
  align-items: center;
}

.btn-style-2:hover {
  background-color: white;
  color: rgb(207, 16, 16);
  border: 1px solid rgb(207, 16, 16);
}

#update-btn {
  padding: 5px 8px 5px 8px;
  font-size: 10px;
}

#remove-btn {
  padding: 5px 8px 5px 8px;
  font-size: 10px;
  width: 95px;
}
#delete-btn {
  font-size: 9px;
  padding: 4px 5px 3px 5px;
}

/* Footer styling */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #edf0f1;
  width: 100%;
  height: 6%;
  background-color: rgb(51, 51, 51);
  position: fixed;
  bottom: 0;
}

.footer-icons {
  color: #edf0f1;
  margin: 0px 12px 0px 12px;
  font-size: 20px;
  transition: all 0.3s ease 0s;
}

.footer-icons:hover {
  cursor: pointer;
  font-size: 28px;
}

/* Tshirt card styling */

.card-container {
  border: 2px solid black;
  border-radius: 7px;
  width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
}

.shirt-price {
  font-size: 14px;
  font-weight: 400;
}

.shirt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
}

/* Lines added by Chris */
#logos {
  height: 100px;
  width: auto;
  }
  
#logoRow {
  height: 50px;
  width: auto;
  float: left;
}

#details-container{
  display: flex;
  justify-content: center;
}

.tshirt-img{
  width:200px;
  height:200px;
  border: 1px solid;
  border-radius: 4px;
}

.center{
  display: flex;
  justify-content: center;
  align-items:center;
}
.center-column{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

.card-title{
  margin: 0px 0px 20px 0px;
}

.card-text{
  margin: 10px 0px 10px 0px;
}

.total-container {
  display: flex;
  flex-direction: row;
  width: 620px;
  justify-content: flex-end;
}

.cart-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 650px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flexrow-spc-btwn{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#orders-container{
  width: 500px;
}

#auth-buttons {
  display: flex;
  justify-content: flex-end;
}

#cart-card {
  width: 650px;
  display: flex;
  justify-content: space-between;
}

.quantity-input {
  width: 40px;
}

#orders-card {
  width: 650px;
}

.quantity {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.username {
  color: rgba(0, 136, 169, 1);
}

.display-message {
  margin: 50px 0px 0px 0px;
}

.signup-container {
  width: 500px;
}

label {
  font-weight: 700;
}

/* Reviews Styling */

#reviews-label {
  font-weight: 600;
}

.user-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reviews-remove {
  display: flex;
  justify-content: right;
  align-items: center;
}

.review-user {
  font-weight: 600;
}

.review-rating {
  font-size: 12px;
  font-weight: 600;
}

.review-content {
  font-size: 13px;
}

/* Details styles */

.shirt-description {
  font-size: 13px;
}

.shirt-price {
  font-weight: 600;
}

#price-remove {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.item-name {
  font-weight: 600;
}